In [20]:
li = []

In [21]:
import pandas as pd
import datetime as dt
from time import time
import fastparquet

In [22]:
taxi_dtypes = {
    'VendorID': pd.Int64Dtype(),
    'store_and_fwd_flag': str, 
    'RatecodeID': pd.Int64Dtype(),
    'PULocationID': pd.Int64Dtype(),
    'DOLocationID': pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float,
    'fare_amount': float,
    'extra': float,
    'mta_tax': float,
    'tip_amount': float,
    'tolls_amount': float,
    'improvement_surcharge': float,
    'total_amount': float,
    'payment_type': pd.Int64Dtype(),
    'trip_type': float,
    'congestion_surcharge': float,
}

In [23]:
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [24]:
for i in range(1, 13):
    t_start = time()
    if i <= 9:
        url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-0{i}.parquet"
        df = pd.read_parquet(url, engine='fastparquet')
        li.append(df)
    else:
        url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-{i}.parquet"
        df = pd.read_parquet(url, engine='fastparquet')
        li.append(df)
    t_end = time()
    print(f'Appended another df, took {t_end - t_start} seconds')

Appended another df, took 0.4190182685852051 seconds
Appended another df, took 0.37418055534362793 seconds
Appended another df, took 0.3978230953216553 seconds
Appended another df, took 0.42127442359924316 seconds
Appended another df, took 0.44897031784057617 seconds
Appended another df, took 0.500236988067627 seconds
Appended another df, took 0.3643169403076172 seconds
Appended another df, took 0.37071919441223145 seconds
Appended another df, took 0.39412569999694824 seconds
Appended another df, took 0.3770937919616699 seconds
Appended another df, took 0.35469603538513184 seconds
Appended another df, took 0.416062593460083 seconds

In [25]:
df = pd.concat(li)

In [26]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,NaN,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,NaN,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72434,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,NaN,1.0,29.36,NaN,NaN,NaN
72435,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,NaN,1.0,48.01,NaN,NaN,NaN
72436,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,NaN,1.0,15.73,NaN,NaN,NaN
72437,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,NaN,1.0,19.81,NaN,NaN,NaN
72438,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,NaN,1.0,15.98,NaN,NaN,NaN

In [10]:
df.columns = (df.columns
                  .str.replace(' ', '_')
                  .str.lower()
                 )
df = df[df['passenger_count'] > 0]
df = df[df['trip_distance'] > 0]
df = df[df['vendorid'] != None]
df['lpep_pickup_date'], df['lpep_dropoff_date'] = df['lpep_pickup_datetime'].dt.date, df['lpep_dropoff_datetime'].dt.date

In [33]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,NaN,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,NaN,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72434,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,NaN,1.0,29.36,NaN,NaN,NaN
72435,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,NaN,1.0,48.01,NaN,NaN,NaN
72436,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,NaN,1.0,15.73,NaN,NaN,NaN
72437,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,NaN,1.0,19.81,NaN,NaN,NaN
72438,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,NaN,1.0,15.98,NaN,NaN,NaN

In [39]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [40]:
df.to_csv('green-taxi-trip-records-2022.csv')

In [38]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)